<h2>Total requests: <%= members.length %></h2>
    <table class="table table-striped table-bordered">
        <theader><tr>
            <th>MI No</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Send Link</th>
        </tr></theader>
        <tbody>
            <% members.forEach(function(mem){ %>
                <tr>
                    <td><%= mem.mi_no %></td>
                    <td><%= mem.name %></td>
                    <td><%= mem.gender=='1'?'Male':'Female' %></td>
                    <td><input class="send_acco" type="checkbox" data-mi-no="<%= mem.mi_no %>"></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <script type="text/javascript">
        function sendMail(){
            var users = [];
            $.each($('.send_acco:checked'),function(i,check){
                        users.push($(check).attr('data-mi-no'))
                    });
            console.log(users);
            $.ajax({
                dataType: 'text',
                url: './send_link',
                data:{users:users},
                success: function(ret){window.alert(ret);}
                    });
        }
    </script>
    <button class="btn btn-default" onclick="sendMail()">Send Acco Link</button>
    <hr>

